@model IEnumerable<TradeApp.Data.Models.BaseMetaDbModels.ServerGroup>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.group_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.servername)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.branchname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.regulationname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.companyname)
        </th>

        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.group_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.servername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.branchname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.regulationname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.companyname)
            </td>
            <td>
                @*<a asp-action="EditGroup" asp-route-id="@item.group_name">Edit</a> |*@
            </td>
        </tr>
    }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>