@model IEnumerable<TradeApp.Business.BaseMetaModels.GroupCrossReferenceResponse>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BranchName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegulationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>

        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BranchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegulationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                <a asp-controller="GroupCrossReferences" asp-action="Edit" asp-route-id="@item.GroupCrossReferenceId">Edit</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>